.limit-wrapper {
    z-index: 555;
    display: block;
    float: none;
    margin: auto;
    max-width: 1260px;
    width: auto;
}

.limit-wrapper>div {
    position: relative;
    margin-bottom: 400px;
}
all.css:1
.limit-wrapper>div {
    position: relative;
}
.row .row {
    margin-left: -25px;
    margin-right: -25px;
}
all.css:1
.row, .clearfix {
    clear: both;
}
.grid-3-5 {
    width: 60%;
}
all.css:1
.grid-1-1, .grid-1-2, .grid-1-3, .grid-1-4, .grid-1-5, .grid-1-6, .grid-2-3, .grid-2-5, .grid-3-4, .grid-3-5, .grid-4-5, .grid-5-6 {
    position: relative;
    padding: 0;
    float: left;
    box-sizing: border-box;
    display: block;
    padding: 0 25px;
}
.price-outer-wrapper, .services, .slogan, .team-member, .toggle, .unapproved, .vamtam-tabs {
    padding-top: 15px;
    padding-bottom: 15px;
}
all.css:1
.vamtam-tabs, .vamtam-tabs:after {
    display: block;
    clear: both;
    content: "";
}
all.css:1
.vamtam-tabs {
    border: 0;
    padding: 0;
}
all.css:1
.ui-widget-content {
    background: transparent;
}
all.css:1
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
all.css:1
*, p, .main-container, .cbp-popup-content {
    font: normal 16px/24px Varela Round;
}
user agent stylesheet
div {
    display: block;
}
Inherited from div#vamtam-column-88fa6cffe1606628955122c5f1e107b0.vamtam-grid.grid-3-5.vamtam-first-level.unextended.no-extended-padding
all.css:1
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
all.css:1
*, p, .main-container, .cbp-popup-content {
    font: normal 16px/24px Varela Round;
}
Inherited from div.row.has-nomargin-column
all.css:1
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
all.css:1
*, p, .main-container, .cbp-popup-content {
    font: normal 16px/24px Varela Round;
}
.vamtam-tabs.horizontal .ui-tabs-nav {
    text-align: center;
}
all.css:1
.vamtam-tabs>.ui-tabs-nav {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    list-style: none;
    -webkit-transform: none;
    background: transparent;
}
.vamtam-tabs.horizontal .ui-tabs-nav li:first-child {
    border-top-left-radius: 1px;
}
all.css:1
.vamtam-tabs.horizontal .ui-tabs-nav li {
    display: inline-block;
    transition: all .3s;
    padding: 0;
}
all.css:1
.vamtam-tabs>.ui-tabs-nav li.ui-tabs-active {
    margin: 0px;
    padding: 0px;
}
all.css:1
.vamtam-tabs>.ui-tabs-nav li {
    position: relative;
    z-index: 2;
    display: block;
    float: none;
    vertical-align: top;
    background: none;
    top: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
}
all.css:1
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: transparent;
    border: 1px solid transparent;
    color: initial;
    text-align: center;
}
all.css:1
ul li, ol li {
    padding-bottom: 5px;
    padding-top: 5px;
}
all.css:1
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
all.css:1
*, p, .main-container, .cbp-popup-content {
    font: normal 16px/24px Varela Round;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.vamtam-tabs.horizontal .ui-tabs-nav li a {
    padding: 10px 20px;
}
all.css:1
.vamtam-tabs>.ui-tabs-nav li.ui-state-hover a, .vamtam-tabs>.ui-tabs-nav li.ui-state-active a, .vamtam-tabs>.ui-tabs-nav li.ui-state-selected a {
    text-decoration: none;
    color: #cb7152;
}
all.css:1
.vamtam-tabs>.ui-tabs-nav li.ui-state-default a {
    color: #000000;
}
all.css:1
.vamtam-tabs>.ui-tabs-nav li a {
    font: normal 24px/32px Libre Baskerville;
    position: relative;
    display: table;
    padding: 20px 40px;
    font-size: 1.2em;
    font-weight: normal;
    outline: none;
    line-height: 1;
    cursor: pointer;
    min-height: auto;
}

.vamtam-tabs>.ui-tabs-nav li.ui-state-hover a span, .vamtam-tabs>.ui-tabs-nav li.ui-state-active a span, .vamtam-tabs>.ui-tabs-nav li.ui-state-selected a span {
    border-color: #cb7152;
}
all.css:1
.vamtam-tabs>.ui-tabs-nav li.ui-state-default a span {
    border-bottom: solid 3px transparent;
    display: block;
    padding: 10px 0px;
    transition: border-color .3s;
}
.vamtam-tabs.horizontal .ui-tabs-nav li a {
    padding: 10px 20px;
}
all.css:1
.vamtam-tabs>.ui-tabs-nav li.ui-state-hover a, .vamtam-tabs>.ui-tabs-nav li.ui-state-active a, .vamtam-tabs>.ui-tabs-nav li.ui-state-selected a {
    text-decoration: none;
    color: #cb7152;
}
all.css:1
.vamtam-tabs>.ui-tabs-nav li.ui-state-default a {
    color: #000000;
}
all.css:1
.vamtam-tabs>.ui-tabs-nav li a {
    font: normal 24px/32px Libre Baskerville;
    position: relative;
    display: table;
    padding: 20px 40px;
    font-size: 1.2em;
    font-weight: normal;
    outline: none;
    line-height: 1;
    cursor: pointer;
    min-height: auto;
}
}
foodpress_styles.css:1
#fp_make_res.onpage .form_section_1 p input, #fp_make_res.onpage .form_section_1 p select {
    color: #ffffff;
    border: 1px solid #D0D0D0;
}
foodpress_styles.css:1
#fp_make_res .reservation_section input, #fp_make_res .reservation_section select, #fp_make_res .reservation_section textarea {
    border: 1px solid #fff;
}
#fp_make_res p, #fp_make_res {
    line-height: 1.5;
}
all.css:1
.reservation_section [class*='form_section_'] p {
    padding-bottom: 10px;
}
all.css:1
.vamtam-tabs .pane p {
    padding-top: 0;
    padding-bottom: 0;
}
foodpress_styles.css:1
.form_section_1 p {
    margin: 0 5px;
    display: inline-block;
    width: auto;
    padding: 0;
}
all.css:1
p {
    margin: 1em 0;
}
.form_section_1 {
    padding-bottom: 15px;
}
foodpress_styles.css:1
.form_section_1 {
    padding-bottom: 25px;
    text-align: center;
}
#fp_make_res.onpage .divider {
    border: 1px dashed #3d3d3d;
}
foodpress_styles.css:1
#fp_make_res .divider {
    border-top: 1px solid #fff;
    opacity: 0.2;
    margin: 0 0 20px;
    padding: 0;
}
foodpress_styles.css:1
#fp_make_res p, #fp_make_res {
    line-height: 1.5;
}
all.css:1
.vamtam-tabs .pane p {
    padding-top: 0;
    padding-bottom: 0;
}
all.css:1
p:empty {
    display: none;
}
.price-outer-wrapper, .services, .slogan, .team-member, .toggle, .unapproved, .vamtam-tabs {
    padding-top: 15px;
    padding-bottom: 15px;
}
all.css:1
.vamtam-tabs, .vamtam-tabs:after {
    display: block;
    clear: both;
    content: "";
}
all.css:1
.vamtam-tabs {
    border: 0;
    padding: 0;
}
.vamtam-add-ornaments-all {
    border-radius: 20px;
    z-index: 10;
    position: relative;
}
all.css:1
.grid-2-5 {
    width: 40%;
}
all.css:1
.grid-1-1, .grid-1-2, .grid-1-3, .grid-1-4, .grid-1-5, .grid-1-6, .grid-2-3, .grid-2-5, .grid-3-4, .grid-3-5, .grid-4-5, .grid-5-6 {
    position: relative;
    padding: 0;
    float: left;
    box-sizing: border-box;
    display: block;
    padding: 0 25px;
}
all.css:1
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}