.color-text {
  font-size: 20px;
  color: #fff;
}
.col-1 {
  width: 100%;
  height: 200px;
}
.col-1 span {
  font-size: 20px;
  color: #fff;
}
.col-2 {
  width: 100%;
  height: 500px;
}
.col-2 span {
  font-size: 20px;
  color: #fff;
}
.container {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  color: #000000;
}
h2 {
  font: normal 56px/68px Libre Baskerville;
}
h3 {
  font: normal 40px/50px Libre Baskerville;
}
h4 {
  font: normal 24px/32px Libre Baskerville;
}
h5 {
  font: normal 18px/22px Libre Baskerville;
}
h6 {
  font: normal 11px/12px Varela Round;
}
p {
  font: normal 16px/24px Varela Round;
  margin: 1em 0;
}
a:hover {
  text-decoration: none;
  color: #cb7152;
}
.col-md-2-5 {
  width: 19.666667%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.sep-text {
  position: relative;
  margin: 30px 0 30px 0;
  text-align: center;
}
.sep-text .sep-text-before,
.sep-text .sep-text-after {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  text-align: right;
  font-size: 10px;
}
.sep-text .sep-text-line {
  display: inline-block;
  width: 30%;
  border-bottom: 1px solid;
  color: #ededed;
  vertical-align: baseline;
}
.text-divider-double {
  position: relative;
  text-align: center;
  letter-spacing: 2px;
}
.sep-text .content {
  padding-right: .7em;
  padding-left: .7em;
}
.sep-text .text-divider-subtitle {
  color: #cb7152;
  font-family: 'Handlee';
  font-size: 1em;
  letter-spacing: 0.3em;
  padding-top: 10px;
}
.text-divider-subtitle {
  font: normal 14px/22px Handlee;
  margin-top: -1em;
  letter-spacing: 0.3em;
  margin-bottom: 1.6em;
  color: #cb7152;
}
.text-divider-subtitle:before,
.text-divider-subtitle:after {
  display: inline-block;
  width: auto;
  height: 15px;
  content: "~";
  font-size: 1.1em;
  padding: 0px 5px;
}
.thumbnail {
  display: block;
  max-height: none !important;
  text-align: center;
  border: none;
}
.thumbnail a>img,
.thumbnail>img {
  margin-right: auto;
  margin-left: auto;
  border-radius: 130px;
}
.thumbnail a>img:hover,
.thumbnail>img:hover {
  border-radius: 30px;
}
.services-title {
  text-align: center;
}
.services-title a {
  margin: 10px 0 12px 0;
  line-height: 1;
  color: #000000;
}
.services-title a:hover {
  color: #cb7152;
}
.services-content {
  text-align: center;
}
