.container{background-color: #f3f3f4;}
p1 img{
	background-attachment:
scroll
;
background-clip:
border-box
;
background-color:
rgb(245, 243, 240)
;
background-image:
none
;
background-origin:
padding-box
;
background-position-x:
0%
;
background-position-y:
0%
;
background-repeat-x:
;
background-repeat-y:
;
background-size:
auto
;
content:
" "
;
display:
block
;
height:
26px
;
left:
570px
;
margin-left:
-78px
;
mask:
none
;
position:
absolute
;
top:
-25px
;
width:
156px
;
z-index:
10
;
}

p2 img{
	background-attachment:
scroll
;
background-clip:
border-box
;
background-color:
rgb(245, 243, 240)
;
background-image:
none
;
background-origin:
padding-box
;
background-position-x:
0%
;
background-position-y:
0%
;
background-repeat-x:
;
background-repeat-y:
;
background-size:
auto
;
content:
" "
;
display:
block
;
height:
26px
;
left:
570px
;
margin-left:
5px
;
mask:
none
;
position:
absolute
;
width:
156px
;
z-index:
10
;
}

.co2 p img{
border-bottom-style:
none
;
border-bottom-width:
0px
;
border-image-outset:
0px
;
border-image-repeat:
stretch
;
border-image-slice:
100%
;
border-image-source:
none
;
border-image-width:
1
;
border-left-style:
none
;
border-left-width:
0px
;
border-right-style:
none
;
border-right-width:
0px
;
border-top-style:
none
;
border-top-width:
0px
;
color:
rgb(39, 39, 39)
;
display:
block
;
font-family:
"Varela Round"
;
font-size:
16px
;
font-stretch:
normal
;
font-style:
normal
;
font-variant-caps:
normal
;
font-variant-ligatures:
normal
;
font-variant-numeric:
normal
;
font-weight:
normal
;
height:
105px
;
margin-bottom:
5px
;
margin-left:
-92px
;
margin-right:
0px
;
margin-top:
20px
;
padding-bottom:
0px
;
padding-left:
0px
;
padding-right:
0px
;
padding-top:
0px
;
text-size-adjust:
100%
;
vertical-align:
baseline
;
width:
1100px
;
}
.r1{
border-bottom-style:
none
;
border-bottom-width:
0px
;
border-image-outset:
0px
;
border-image-repeat:
stretch
;
border-image-slice:
100%
;
border-image-source:
none
;
border-image-width:
1
;
border-left-style:
none
;
border-left-width:
0px
;
border-right-style:
none
;
border-right-width:
0px
;
border-top-style:
none
;
border-top-width:
0px
;
clear:
both
;
color:
rgb(39, 39, 39)
;
display:
block
;
font-family:
"Varela Round"
;
font-size:
16px
;
font-stretch:
normal
;
font-style:
normal
;
font-variant-caps:
normal
;
font-variant-ligatures:
normal
;
font-variant-numeric:
normal
;
font-weight:
normal
;
margin-bottom:
0px
;
margin-left:
-25px
;
margin-right:
-25px
;
margin-top:
0px
;
padding-bottom:
0px
;
padding-left:
0px
;
padding-right:
0px
;
padding-top:
0px
;
text-size-adjust:
100%
;
vertical-align:
baseline
;
width:
1100px
;
}
.r2{
	border-bottom-color:
rgb(39, 39, 39)
;
border-bottom-style:
none
;
border-bottom-width:
0px
;
border-image-outset:
0px
;
border-image-repeat:
stretch
;
border-image-slice:
100%
;
border-image-source:
none
;
border-image-width:
1
;
border-left-color:
rgb(39, 39, 39)
;
border-left-style:
none
;
border-left-width:
0px
;
border-right-color:
rgb(39, 39, 39)
;
border-right-style:
none
;
border-right-width:
0px
;
border-top-color:
rgb(39, 39, 39)
;
border-top-style:
none
;
border-top-width:
0px
;
clear:
both
;
color:
rgb(39, 39, 39)
;
display:
block
;
font-family:
"Varela Round"
;
font-size:
16px
;
font-stretch:
normal
;
font-style:
normal
;
font-variant-caps:
normal
;
font-variant-ligatures:
normal
;
font-variant-numeric:
normal
;
font-weight:
normal
;
height:
516.094px
;
line-height:
24px
;
margin-bottom:
0px
;
margin-left:
-25px
;
margin-right:
-25px
;
margin-top:
0px
;
padding-bottom:
0px
;
padding-left:
0px
;
padding-right:
0px
;
padding-top:
0px
;
text-size-adjust:
100%
;
vertical-align:
baseline
;
width:
1100px
;
}
.col1 h1{
    color:rgb(39, 39, 39);
    cursor:auto;
    display:block;
    font-family:"Libre Baskerville";
    font-size:28px;
    font-stretch:normal;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:normal;
    height:auto;
    line-height:32px;
    text-align:center;
    text-decoration:none;
    text-size-adjust:100%;
	margin-left:10px;
}

.col2 h1{
    color:rgb(39, 39, 39);
    cursor:auto;
    display:block;
    font-family:"Libre Baskerville";
    font-size:28px;
    font-stretch:normal;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:normal;
    height:auto;
    line-height:32px;
    text-align:center;
    text-decoration:none;
    text-size-adjust:100%;
	margin-left:10px;
}
.col3 h1{
    color:rgb(39, 39, 39);
    cursor:auto;
    display:block;
    font-family:"Libre Baskerville";
    font-size:28px;
    font-stretch:normal;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:normal;
    height:auto;
    line-height:32px;
    text-align:center;
    text-decoration:none;
    text-size-adjust:100%;
	margin-left:10px;
}
.col4 h1{
    color:rgb(39, 39, 39);
    cursor:auto;
    display:block;
    font-family:"Libre Baskerville";
    font-size:28px;
    font-stretch:normal;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:normal;
    height:auto;
    line-height:32px;
    text-align:center;
    text-decoration:none;
    text-size-adjust:100%;
	margin-left:10px;
}
.col5 h1{
    color:rgb(39, 39, 39);
    cursor:auto;
    display:block;
    font-family:"Libre Baskerville";
    font-size:28px;
    font-stretch:normal;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:normal;
    height:auto;
    line-height:32px;
    text-align:center;
    text-decoration:none;
    text-size-adjust:100%;
	margin-left:10px;
}
.col6 h1{
	color:rgb(39, 39, 39);
    cursor:auto;
    display:block;
    font-family:"Libre Baskerville";
    font-size:28px;
    font-stretch:normal;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:normal;
    height:auto;
    line-height:32px;
    text-align:center;
    text-decoration:none;
    text-size-adjust:100%;
	margin-left:10px;
}

.col1 p{
	color:rgb(39, 39, 39);
	display:block;
	font-family:"Varela Round";
	font-size:17px;
	font-stretch:normal;
	font-style:normal;
	font-variant-caps:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	font-weight:normal;
	height:72px;
	line-height:23px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	opacity:0.7;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	text-align:center;
	text-size-adjust:100%;
	vertical-align:baseline;
	width:168.328px;
}

.col2 p{
	color:rgb(39, 39, 39);
	display:block;
	font-family:"Varela Round";
	font-size:17px;
	font-stretch:normal;
	font-style:normal;
	font-variant-caps:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	font-weight:normal;
	height:72px;
	line-height:23px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	opacity:0.7;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	text-align:center;
	text-size-adjust:100%;
	vertical-align:baseline;
	width:168px;
}
.col3 p{
	color:rgb(39, 39, 39);
	display:block;
	font-family:"Varela Round";
	font-size:17px;
	font-stretch:normal;
	font-style:normal;
	font-variant-caps:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	font-weight:normal;
	height:72px;
	line-height:23px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	opacity:0.7;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	text-align:center;
	text-size-adjust:100%;
	vertical-align:baseline;
	width:168.328px;
}
.col4 p{
	color:rgb(39, 39, 39);
	display:block;
	font-family:"Varela Round";
	font-size:17px;
	font-stretch:normal;
	font-style:normal;
	font-variant-caps:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	font-weight:normal;
	height:72px;
	line-height:23px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	opacity:0.7;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	text-align:center;
	text-size-adjust:100%;
	vertical-align:baseline;
	width:168.328px;
}
.col5 p{
	color:rgb(39, 39, 39);
	display:block;
	font-family:"Varela Round";
	font-size:17px;
	font-stretch:normal;
	font-style:normal;
	font-variant-caps:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	font-weight:normal;
	height:72px;
	line-height:23px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	opacity:0.7;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	text-align:center;
	text-size-adjust:100%;
	vertical-align:baseline;
	width:168.328px;
}
.col6 p{
	color:rgb(39, 39, 39);
	display:block;
	font-family:"Varela Round";
	font-size:17px;
	font-stretch:normal;
	font-style:normal;
	font-variant-caps:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	font-weight:normal;
	height:72px;
	line-height:23px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	opacity:0.7;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	text-align:center;
	text-size-adjust:100%;
	vertical-align:baseline;
	width:168.328px;
}