.type-1 {
  background-color: #f3f3f4;
  margin-top: 13px;
  margin-bottom: 34px;
}
.container {
  display: block;
  margin-left: 90px;
  margin-top: 30px;
}
.r1 p1 {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #f5f3f0;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  content: " ";
  display: block;
  height: 35px;
  left: 600px;
  margin-left: -115px;
  mask: none;
  top: -25px;
  width: 150px;
  z-index: 10;
  -webkit-mask-image: url(https://vip-restaurant.vamtam.com/wp-content/themes/vip-restaurant/vamtam/assets/images/ornament-top.svg);
  position: relative;
}
p2 {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #f5f3f0;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  bottom: -96px;
  content: " ";
  display: block;
  height: 26px;
  left: 470px;
  mask: none;
  width: 150px;
  z-index: 10;
  -webkit-mask-image: url(https://vip-restaurant.vamtam.com/wp-content/themes/vip-restaurant/vamtam/assets/images/ornament-bottom.svg);
  position: relative;
}
.r1 p3 img {
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-style: none;
  border-left-width: 0px;
  border-right-style: none;
  border-right-width: 0px;
  border-top-style: none;
  border-top-width: 0px;
  color: #272727;
  display: block;
  font-family: "Varela Round";
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 105px;
  margin-bottom: 5px;
  margin-left: -8px;
  margin-right: 0px;
  margin-top: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 1140px;
}
.r1 {
  border-bottom-color: #272727;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #272727;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: #272727;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: #272727;
  border-top-style: none;
  border-top-width: 0px;
  clear: both;
  display: block;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 1200px;
  height: 200px;
}
.r2 {
  border-bottom-color: #272727;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #272727;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: #272727;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: #272727;
  border-top-style: none;
  border-top-width: 0px;
  clear: both;
  color: #272727;
  display: block;
  font-family: "Varela Round";
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 470px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: -45px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 1200px;
}
.col1 h1 {
  color: #272727;
  cursor: auto;
  display: block;
  font-family: "Libre Baskerville";
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 72px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  width: 168.328px;
}
.col2 h1 {
  color: #272727;
  cursor: auto;
  display: block;
  font-family: "Libre Baskerville";
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 72px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  width: 168.328px;
}
.col3 h1 {
  color: #272727;
  cursor: auto;
  display: block;
  font-family: "Libre Baskerville";
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 72px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  width: 168.328px;
}
.col4 h1 {
  color: #272727;
  cursor: auto;
  display: block;
  font-family: "Libre Baskerville";
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 105px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  width: 168.328px;
}
.col5 h1 {
  color: #272727;
  cursor: auto;
  display: block;
  font-family: "Libre Baskerville";
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 72px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  width: 168.328px;
}
.col6 h1 {
  color: #272727;
  cursor: auto;
  display: block;
  font-family: "Libre Baskerville";
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 72px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  width: 168.328px;
}
.col1 p {
  color: #272727;
  display: block;
  font-family: "Varela Round";
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 72px;
  line-height: 23px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  opacity: 0.7;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 168.328px;
}
.col2 p {
  color: #272727;
  display: block;
  font-family: "Varela Round";
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 72px;
  line-height: 23px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  opacity: 0.7;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 168px;
}
.col3 p {
  color: #272727;
  display: block;
  font-family: "Varela Round";
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 72px;
  line-height: 23px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  opacity: 0.7;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 168.328px;
}
.col4 p {
  color: #272727;
  display: block;
  font-family: "Varela Round";
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 72px;
  line-height: 23px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  opacity: 0.7;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 168.328px;
}
.col5 p {
  color: #272727;
  display: block;
  font-family: "Varela Round";
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 72px;
  line-height: 23px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  opacity: 0.7;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 168.328px;
}
.col6 p {
  color: #272727;
  display: block;
  font-family: "Varela Round";
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 72px;
  line-height: 23px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  opacity: 0.7;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 168.328px;
}
.footer {
  border-bottom-color: #272727;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #272727;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: #272727;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: #272727;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: #272727;
  display: block;
  float: left;
  font-family: "Varela Round";
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 96.0938px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0.05px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0.05px;
  position: relative;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 168.328px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.footer span {
  border-bottom-color: #ffffff;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #ffffff;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: #ffffff;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: #ffffff;
  border-top-style: none;
  border-top-width: 0px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: "Varela Round";
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: 13px;
  line-height: 13px;
  margin-bottom: 0px;
  margin-left: 13px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 13px;
  padding-left: 0px;
  padding-right: 26px;
  padding-top: 13px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-size-adjust: 100%;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.3s, 0.3s, 0.3s;
  transition-property: color, border, background;
  transition-timing-function: ease-out, ease-out, ease-out;
  user-select: none;
  vertical-align: middle;
  width: 168.328px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.footer a {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #000000;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: #b3b3b3;
  border-bottom-left-radius: 130px;
  border-bottom-right-radius: 130px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #b3b3b3;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: #b3b3b3;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: #b3b3b3;
  border-top-left-radius: 130px;
  border-top-right-radius: 130px;
  border-top-style: none;
  border-top-width: 0px;
  color: #b3b3b3;
  cursor: pointer;
  display: inline-block;
  font-family: "Varela Round";
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 39px;
  line-height: 3px;
  padding-bottom: px;
  padding-left: px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-size-adjust: 100%;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.3s, 0.3s, 0.3s;
  transition-property: color, border, background;
  transition-timing-function: ease-out, ease-out, ease-out;
  user-select: none;
  vertical-align: middle;
  width: 168.328px;
  z-index: 0;
  margin-left: 445px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
