.type-1 {
  background-color: #F5F3F0;
  padding-top: 0.05px;
  padding-bottom: 0.05px;
}
.type-1 .col-1 img {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
